body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c52fc5;
}

.calendar-container {
    width: 350px;
    background-color: #8d7fc7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.calendar-title {
    display: flex;
    align-items: center;
}

.calendar-title #month {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

#yearSelect {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #777;
}

.calendar-body {
    padding: 20px;
}

.calendar-days {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.calendar-days div {
    width: 40px;
    text-align: center;
}

.calendar-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar-dates div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.calendar-dates div:hover {
    background-color: #ddd;
}

.calendar-dates div.inactive {
    color: #ccc;
}

.calendar-dates div.active {
    background-color: #333;
    color: #fff;
}
